---
layout: base
---

<h2>Hi, I'm My Tran</h2>
<p>I embody the essence of a dreamer and lover of humanity.</p>

<p>
  I am employed as a IT Consultant at
  <a href="https://netcompany.com/">Netcompany</a>, an Danish IT company. During
  my leisure time, I dedicate myself on my side projects and immerse myself in
  reading. My collection of books is largely inspired by the literary
  preferences of
  <a href="https://www.goodreads.com/author/show/22327517.Chip_Huyen"
    >Huyen Chip</a
  >, a female computer scientist whom I deeply admire and consider as one of my
  role models.
</p>

<p>
  I'm best reached via <a href="mailto:mytran1109@gmail.com">email</a>. I'm
  always open to interesting conversations and collaboration.
</p>
